* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

body h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 30px; 
}

body span {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Bold */
    font-size: 16px; 
}


main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    
}

/* Lado da Esquerda */

.esquerda {
    width: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.esquerda form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.esquerda .input_wrapper {
    background-color: #F0EDFF;
    width: 364px;
    height: 52px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 25px;
}

.input_wrapper img {
    width: 24px;
    height: 24px;
}

.input_wrapper input {
    background-color: transparent;
    border: none;
    outline: none; /* Remove a borda de foco azul/preta */
    padding-left: 10px;
    height: 50px;
    width: 300px;
}

.esquerda .btn {
    width: 124px;
    height: 52px;
    border-radius: 16px;
    border-color: #fff;
    background-image: linear-gradient(to right, #9181F4, #5038ED);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 13px; 

}

.hr-strong {
    display: flex;
    align-items: center;
    width: 364px;
}

.linha {
    flex: 1;
    height: 1px;
    background-color: #F0EDFF;
}

.hr-strong h3 {
    margin: 0 10px;
    white-space: nowrap;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.box-OAuth .btn-auth {
    width: 364px;
    height: 52px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffbfb;
    margin-bottom: 20px;
}

.box-OAuth .btn-auth:hover {
    background-color: #e8e7e7;
}

.btn-auth span {
    padding-left: 15px;
}

/* Lado Direito */

.direita {
    width: 89vh;
    height: 100vh;
    background-image: url("./imgs/background.svg");
}